body{
    background-color: black;
}
.container{
    text-align: center;
    width: 1000px;
    height: auto;
    background-color:black;

    
}
.project-name{
    margin: 20px;
    padding: 10px;
    list-style-type: none;
    font-size: 65px;
    font-family: 'arial narrow';
    text-decoration: none;
    font-weight: bolder;
    margin-right: -28%;
    background-color: black;
    animation-name: runMe;
    animation-duration: 4s ;
    animation-iteration-count: infinite;
}
@keyframes runMe {
    from{
        color: white;
    }
    to{
        color: yellow;
    }
    
}
.main-menu{
    background-color: black;
    margin-right: -30%;
}
.main-menu > ul{
    margin: 150px;
    padding: 10px;
    text-align: center;
}
.main-menu > ul > li{
    display: inline-block;
}
.main-menu > ul > li > a{
    color:white;
    text-decoration: none;
    padding: 30px;
    font-family: 'Arial Narrow';
    font-size: x-large;
    
}
.main-menu > ul > li > a:hover{
    background-color: orange;

}
.image{
    display: block;
    margin-right: -30%;
    width: 1000px;
    height: auto;
}
.admin{
    margin-left: 50%;
    width: 50px;
    height: auto;
    color: white;
    font-family: 'Arial Narrow';

}
.content{
    color: white;
    margin-right: -30%;
    font-family: 'Arial Narrow';
    font-size: large;
    
}
.banner{
    display: block;
    margin-right: -60%;
    size: 200%;
    width: 1000px;
    
    height: auto;
    
}
.contact-form{
    color: white;
}